head {
    color:cream;
    background-color: #fffcc9;
    text-align: center;
}
h1   {
    background-color: #fffcc9;
    text-align: center;
    font-family: Chalkduster, fantasy;
    color: lightskyblue;

}
body {
    background-color: #fefbea;
    text-align: center;
    margin: 25px 50px 75px 100px;
  }