<<<<<<< HEAD
h1   {
    color:cream;
    background-color: #fffcc9;
    text-align: center;
}
body {
    background-color: #fefbea;
  }
  body,h1 {font-family: "Noto Sans", sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}

a:link {
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    color: grey;
  }
  
  a:active {
    text-decoration: underline;
  }

 #Display a list of links as a horizontal menu
  li {
    display: inline;
  }


  #dropdown