{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/aboutus.css' %}">
<div class="page_title">
   <h1> About Us </h1>
</div>
<ul>
<!--    <li><a href="archive/">Archives</a> </li>    -->
<!--     <li><a href="ingredientsdb/">Ingredients Database</a></li>    -->
<!--     <li><a href="aboutus/">About Us</a> </li>      -->
</ul>
<div class="intro">

    
    <p>Hi! We are Group 6: Mona, Matthew, Dulce and Yoochae. Perhaps, you wear sunscreen religiously, just started or have never cared much for it.  In either case, we believe it is important to preserve this object because it is significant to understand the different ranges of sunscreens that have existed, not only for consumers but also for dermatologists and manufacturing companies alike. In doing so, consumers can become more educated and manufacturing companies can collect information that will better suit the type of consumer they are aiming to cater to. In addition, preserving objects in general, serves novelty as companies and consumers can always look back in terms of what was working and what was not, what was considered safe and what was not. 
</p>
<p>
    Not only do we find it important to protect our skins, but we also believe it is important to protect our environment. So, we asked each other which sunscreens we can’t live without and we brought these here today: 
</p>
   <b>1.)</b>  Shingmulnara Oxygen Water Light Sun Gel SPF 50 <br>
   <b>2.)</b> Alba Botanica Hawaiian Sunscreen Spray SPF 50 <br>
   <b>3.)</b> Banana Boat Sport Ultra Sunscreen Lip Balm SPF 50 <br>
   <b>4.)</b> Australian Gold Instant Bronzer Spray Gel with SPF 30 <br>
   <b>5.)</b> Vitamin E Day Lotion SPF30 <br>
   <p> All of these sunscreen products presented here today range from different price points, serve different purposes and even different sun protection factors. 
</p>
    
    <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/index-sunscreen-for-people-of-color-1619213574.jpg?crop=1.00xw:1.00xh;0,0&resize=980:*" alt="Sunscreen" width="1200" height="400">



{% endblock %}
