{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/exhibit.css' %}">
<div class="breadcrumb">
    <a href="/"> Sunscreen Archive </a>
</div>
<h1 class="page_title">
    Exhibit: Major Ingredients of Sunscreen
</h1>
<div class="content">
    {% if exhibits %}
    <ul>
        {% for exhibit in exhibits %}
        <li>
            <div class="exhibit"><a href="{{exhibit.id}}">{{exhibit.name}} </a> : {{exhibit.snippet}} </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No exhibits yet!</p>
    {% endif %}
</div>

{% endblock %}